# Ignore specific files
../../.metadata
../../README.md
../../analysis_options.yaml
../../pubspec.lock
../../pubspec.yaml

# Ignore directories
../../android/
../../assest/
../../ios/
../../linux/
../../macos/
../../test/
../../web/
../../windows/

# Ignore specific files relative to main.dart and ui_helper
../main.dart
../ui_helper/
